* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 20px;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.grid-container {
    display: grid;
    grid-template-rows: 300px 300px 1fr;
    grid-template-columns: 450px 450px 1fr;
    grid-gap: 10px 5px;
}

.card {
    width: 400px;
    margin: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #d3d3d3;
    transition: ease-in 0.5s;
}

.card:hover {
    transform: scale(1.1);
    background-color: aqua;
    cursor: pointer;
}

.avatar {
    margin: 20px;
    width: 128px;
    height: 128px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.text-container {
    margin: 20px;
}
.text-container p {
    font-size: .75em;

}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 475px;
  margin: auto;
  padding-bottom: 15px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
  transition: .4s ease-out;
}

.modal-img {
  width: 150px;
  margin-top: 35px;
  border-radius: 50%;
}

.modal-name {
  margin-bottom: 5px;
}

.modal-text {
  color: rgba(50, 50, 50, 0.7);
  margin: 10px;
}

.modal hr {
  width: 75%;
  margin: 25px auto 30px;
  border-color: rgba(200, 200, 200, 0.2);
}